#logos {
  height: auto;

  .col {
    img {
      filter: grayscale(100%);
    }

    &:hover {
      cursor: pointer;
      transition: all 0.5s;
      transform: var(--hover);
      box-shadow: 0 10px 8px -2px rgba(0, 0, 0, 0.1);

      img {
        filter: none;
      }
    }
  }
}
